@import url(style.css);

header, main, footer{
    width: 360px;
}

header h1{
  background-color: #4A8CB0;
  color: black;
  text-align: center;
  padding: 5px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 50px;
}


nav ul{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    text-align: center;
    margin-right: 25px;
}

nav ul li{
        width: 100%;

}

.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.imagegallery{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
}

.imagegallery img{
    width: 100%;
}

.recipe_example {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  text-align: center;
}

.review {
  background-color: #4A8CB0;
  border-radius: 30px;
  padding: 15px;
  line-height: 30px;
  border-width: 5px;
  border-color: #016180;
  border-style:dotted;
}